body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #2f3640, #222f3e) !important;
  background: #151414 !important ;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

#root {
  margin: 0 auto;
}
