.carousel-img {
  max-width: 70%;
}
.carousel-box {
  display: flex;
  padding: 1rem;
}
.text-box {
  width: 54%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  padding: 4rem;
}
.img-box-carousel {
  width: 39%;
  margin-right: 2%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.mantine-Carousel-control {
  background: none;
  border: none;
}
.text-box h1 {
  font-size: 24px;
}
.text-box p {
  text-align: left;
}
