.card-img-box {
}
.card-img-item {
}
.card {
  display: flex;
  margin-bottom: 100px;
}

.card-img-box {
  display: flex;
  padding: 20px;
}

.content1 {
  margin: 0 auto;
  width: 80%;
  padding: 15px;
  margin-bottom: 150px;
  margin-top: 180px;
}
.content1_projects {
  margin: 0 auto;
  width: 80%;
  padding: 15px;
}
.card-text-box {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  padding: 50px;
}
.card-p {
  text-align: start;
}

.card-button {
  width: 216px;
  border-radius: 0;
  background: #3177c7;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}
.item_card {
  border-radius: 16px;
  background: #dfe4ea;
}
.team_members {
  width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 180px;
}
.leader {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}
.members {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.item_card {
  width: 18%;
  height: 400px;
}

.sponsor_title {
  font-size: 47px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  color: white;
  padding: 50px 0;
}
.img_item {
  width: 45%;
}
.img_item:first-child{
  margin-right: 10%;
}
.img_div {
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 150px;
}

