footer {
    background-color: rgb(49, 49, 49);
}
footer h4 {
    margin: 0;
    font-size: xx-large;
    font-weight: 200;
    color: #30007D;
}
footer a {
    color: #C8D6E5;
    font-size: 20px;
    font-weight: 200;
}
.footer-row-1 {
    padding: 1rem 2rem 1rem 2rem;
    display: flex;
    justify-content: space-around;
    background-color: #dcdde1;
}
.footer-row-2 {
    display: flex;
    justify-content: space-between;
    padding: 10rem 2rem 1rem 2rem;

    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 40%, rgba(25,12,85,1) 90%, rgba(21,21,156,1) 100%);
}
.footer-column {
    display: flex;
    align-items: flex-end;
    gap: 2rem;
}
.footer-column img {
    height: 2.5rem;
}

.marquee{
    overflow-y: hidden;
    padding: 25px 0;
    background: white;
    border: none;
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .footer-row-1 {
        flex-direction: column;
        align-items: center;
    }
    .footer-row-1 > h4 {
        font-size: 1.5rem;
    }
    .footer-row-1 > h4:nth-child(-n+2) {
        display: none;
    }

    .footer-row-2 {
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        gap: 3rem;
    }

    .footer-column:nth-child(1) {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .footer-column:nth-child(2) {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-column img {
        height: 2rem;
    }
}