.ul-item {
  display: flex;
}
.ul-item .li-item {
  list-style: none !important;
  margin-right: 15px;
}

.ul-item .li-item .a-item {
  color: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  transition: 0.3s ease;
}

.ul-item .li-item .a-item:hover,
.ul-item .li-item .active {
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 20px;
  transition: 0.3s ease;
}

.logo {
  width: 70px !important;
}

.header-f{
  display:flex;
  justify-content: space-around;
  padding: 40px 0;
  width: 100%;
}

